#container {
    display: inline-block;
    border: 1px solid black;
    background-color: #9aa680;
    padding: 5px;
}
#score {
    display: inline-block;
    border: 1px solid black;
    background-color: #9aa680;
    padding: 5px;

    font-family: "Auto Digital";
    font-size: 40px;
}