body {
    overflow: hidden;
}
#body {
    position: absolute;

    height: 100%;
    width: 100%;

}
#gamepad {
    position: absolute;
    /*border: 1px solid red;*/
    background-image: url("/static/pics/gamepad_buttons.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 890px;
    width: 502px;
    margin: auto;
    z-index: 1;
    left: 50%;
    box-sizing: border-box;
    transform: translateX(-50%);
}
#container {
    top: 70px;
    left: 50px;
    position: relative;
    display: inline-block;
    border: 1px solid black;
    background-color: #9aa680;
    padding: 5px;

}
#bcg {
    position: absolute;
    height: 890px;
    width: 502px;
    margin: auto;
    left: 50%;
    transform: translateX(-50%);
    background: #9aa680;
}
#score-panel {
    display: inline-block;
    position: absolute;
    width: 120px;
    top: 70px;
    transform: translateX(50px);

}
.outerContainer {
    width: 400px;

    margin: auto;
}

#placeholder {
    border: 1px solid black;
}

.medium-button-low {
    box-shadow: inset 0px 0px 3px 3px #000000;
    border:3px solid black;
    z-index: 1;
    border-radius: 50px;
    position: absolute;
    top: 741px;
    left: 103px;
    width: 82px;
    height: 82px;
}

.medium-button-left {
    box-shadow: inset 0px 0px 3px 3px #000000;
    border:3px solid black;
    z-index: 1;
    border-radius: 50px;
    position: absolute;
    top: 669px;
    left: 23px;
    width: 82px;
    height: 82px;
}

.medium-button-right {
    box-shadow: inset 0px 0px 3px 3px #000000;
    border:3px solid black;
    z-index: 1;
    border-radius: 50px;
    position: absolute;
    top: 669px;
    left: 177px;
    width: 82px;
    height: 82px;
}

.big-button {
    box-shadow: inset 0px 0px 3px 3px #000000;
    border:3px solid black;
    z-index: 1;
    border-radius: 85px;
    position: absolute;
    top: 656px;
    left: 323px;
    width: 125px;
    height: 125px;
}